/*custom css for admin page. example : position:  fixed*/
p{
    margin-bottom: 0;
}

[data-sibebarbg="color_1"] .nk-sidebar .metismenu {
    border-right: 1px solid #eaecf1;
}

.nk-sidebar .metismenu > li > a.active {
    border-left: 3px solid #4540f7;
    background: #4540f730;
}

/*few reset css for this projectstheme default style*/
.dropdown-menu{
    border:  none;
}

.dropdown-content-body ul > li{
    padding: 0 !important;
}

.dropdown-profile li a {
    display: block;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.dropdown-profile li a:hover {
    background-color: #7571f9;
}

.dropdown-profile li a span {
    transition: all .3s;
    color: #696a75;
}

.dropdown-profile li a:hover span {
    transition: all .3s;
    color: white;
}

.dropdown-profile li a i {
    transition: all .3s;
    color: #696a75;
}

.dropdown-profile li a:hover i {
    transition: all .3s;
    color: white;
}

/*end of reset css*/


/*css for header*/
.header{
    box-shadow: 0 0 50px 0 #dedcf7;
}
/*end of header css*/

/*css for sidebar*/
.nk-sidebar {
    position: fixed;
    border-right: 1px solid #e6e4ec;
    box-shadow: 0 0 50px 0 #dedcf7;
}
/*end of sidebar css*/

.header {
    position: fixed;
    z-index: ;
}

/*header dropdown*/
.header-right .icons .dropdown-user-img img {
    height: 55px;
    width: 55px;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 11px 0px rgba(0,0,0, 0.19);
}

.header-right .icons .dropdown-user-img{
    height: 55px;
    width: 55px;
}

.user-name{
    padding: 5px 0;
    margin-top: 10px;
}

.user-name p{
    color: #656d7d;
    font-size: 15px;
    font-weight: 600;
    line-height: 0;
}
/*end of header dropdown css*/

.menu-toggle .nk-sidebar{
    position: fixed !important;
}

.nav-header{
    position: fixed !important;
    z-index: 100;
}

[data-sidebar-style="overlay"] .nav-header{
    position: fixed !important;
    z-index: 10;
}

.nk-sidebar{
    position: fixed;
}

.content-body {
    margin-top: 6rem;
}

li.nav-label {
    font-weight: 600;
    font-size: 14px;
    color: #6464dc !important;
}

h1,h2,h3,h4,h5,h6{
    color: #757679;
}

/*card header style*/
.page-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.form-control{
    border-radius: 4px;
    height: 40px;
}
/* card header end */

/* mail inbox style */
.dropdown-menu.show {
    box-shadow: 0 0 16px 0 #c9c7e8;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #cccbff;
}