/*custom css for admin page. example : position:  fixed*/
.header {
    position: fixed;
    z-index: 2000;
}

.menu-toggle .nk-sidebar{
    position: fixed !important;
}

.nav-header{
    position: fixed;
}

.nk-sidebar{
    position: fixed;
}

.content-body {
    margin-top: 6rem;
}

li.nav-label {
    font-weight: 600;
    font-size: 14px;
    color: #6464dc !important;
}

h1,h2,h3,h4,h5,h6{
    color: #757679;
}

/*card header style*/
.page-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.form-control{
    border-radius: 4px;
    height: 40px;
}